*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: url(./background.jpg) no-repeat center center / cover;
    color: black;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 0.5rem 1rem;
}

.container {
    position: relative;
}

.cat-stack {
    display: flex;
    max-width: 400px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 1rem;
    box-shadow: 0 0 20px black;
}

.cat-card {
    transition: transform 0.3s ease-in-out;
}

.dots {
    display: flex;
    gap: 1rem;
    position: absolute;
    left: 50%;
    translate: -50% 0;
    bottom: 1.25rem;
}

.dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}

.dot.active {
    scale: 1.5;
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    text-align: center;
    width: 100%;
}

.summary-title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.liked-cats {
    margin-bottom: 1rem;
    font-weight: 500;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.liked-cat {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (width <= 650px) {
    main {
        flex-direction: column;
        align-items: center;
        padding: 3rem 0 1rem;
    }
}