*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: url(./background.jpg) no-repeat center center / cover;
    color: black;
}

img {
    max-width: 100%;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 3rem 0.5rem 1rem;
}

.container {
    position: relative;
}

.cat-stack {
    display: flex;
    max-width: 400px;
    overflow-x: hidden;
    border-radius: 1rem;
    box-shadow: 0 0 20px black;
}

.cat-card {
    transition: transform 0.3s ease-in-out;
}

.dots {
    display: flex;
    gap: 1rem;
    position: absolute;
    left: 50%;
    translate: -50% 0;
    bottom: 1.25rem;
}

.dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}

.dot.active {
    scale: 1.5;
}

@media (width <= 650px) {
    main {
        flex-direction: column;
        align-items: center;
        padding: 3rem 0 1rem;
    }
}